*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/markdown-navigator.xml
/.idea/markdown-navigator-enh.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
/captures
/artwork
.externalNativeBuild
Gemfile
Gemfile.lock
**/fastlane/Appfile
**/fastlane/Fastfile
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/README.md
**/fastlane/screenshots
**/fastlane/test_output
